html {
  font-size: calc(1em + .33vw);
  color: #2F1E2F;
}

body {
  margin: 0;
  background: #78C292;
  font-family: 'Merriweather', serif;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(25%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(1.2);
    color: orange;
  }

  100% {
    transform: scale(1);
    color: orange;
  }
}

@-webkit-keyframes grow {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
    color: orange;
  }

  100% {
    transform: scale(1);
    color: orange;
  }
}

#bannerArrow {
  position: absolute;
  top: 5%;
  left: 50%;
  cursor: pointer;
  color: white;
  animation: 500ms ease-in-out .5s 2 bounce;
  font-size: 1.5em;
}

.banner__content {
  transition: all 300ms ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__img {
  width: 100%;
}

#moreInfo {
  cursor: pointer;
  animation: 1s ease-in 3s 2 grow;
  transform: scale(1);
  margin-top: .5em;
  color: orange
}

.bio {
  padding: 8em 0;
  background: linear-gradient(#92c6cf, #5FA8D3);
  -webkit-clip-path: polygon(75% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  clip-path: polygon(75% 20%, 100% 0, 100% 100%, 0 100%, 0 0);
  opacity: 0;
  transform: translateY(-5%);
  transition: all 300ms ease-in-out;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 750ms ease-in-out;
  border-bottom: 8px solid #2F1E2F;
  border-radius: 0 0 0 5em;
}

.bio p {
  width: 80%;
}

#showProjects {
  transition: all 300ms;
  cursor: pointer;
  animation: 3s ease-in infinite grow;
  color: orange;
}

#shape--1 {
  position: absolute;
  bottom: 2%;
  left: 5%;
  width: 0;
  transform: rotate(-10deg);
  z-index: -5;
  border-top: 2rem solid white;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
}

#shape--2 {
  position: absolute;
  bottom: 8%;
  left: 3%;
  width: 0;
  transform: rotate(-10deg);
  z-index: -10;
  border-top: 3rem solid #4F7A82;
  border-left: 3rem solid transparent;
  border-right: 3rem solid transparent;
}

.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 1em;
  margin: 2em 2em 0 0;
  background: linear-gradient(#4A272D, rgb(112, 78, 74));
  color: #f7f7f7;
  position: relative;
  border-top-right-radius: 4em;
  border-bottom-right-radius: 4em;
}

.experienceList {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.experienceList p {
  margin-bottom: 0;
  margin-left: .5em;
}

.experienceList a {
  font-size: 1em;
}

#tent-1 {
  position: absolute;
  bottom: 0;
  left: 3%;
  width: 0;
  transform: rotate(180deg);
  z-index: 10;
  border-top: 5em solid #4F7A82;
  border-left: 5em solid transparent;
  border-right: 5em solid transparent;
}

#tent-2 {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 0;
  transform: rotate(180deg);
  z-index: 10;
  border-top: 4em solid #4F7A82;
  border-left: 4em solid transparent;
  border-right: 4em solid transparent;
}

#tent-3 {
  position: absolute;
  bottom: 15%;
  left: 2%;
  width: 0;
  transform: rotate(180deg);
  z-index: 10;
  border-top: 3em solid #4F7A82;
  border-left: 3em solid transparent;
  border-right: 3em solid transparent;
}


/* GLOBAL */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  letter-spacing: -2px;
  margin-bottom: 0;
}

p {
  letter-spacing: -.5px;
  font-family: 'Oswald', sans-serif;
  margin-top: 0;
  display: inline-block;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
  height: auto;
  transform: translateY(0);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: .6em;
}